<?xml version="1.0" ?>
<launch>
    <rosparam file = "$(find closed_path_follower)/config/path.yaml" command = "load"  />
    <rosparam file = "$(find closed_path_follower)/config/controller_params.yaml" command = "load"  />
	<node name="joystick" pkg="joy" type="joy_node" output="screen"/>
    <node name="manual_controller" pkg="closed_path_follower" type="joystick.py" output="screen"/>
    <node name="path_generator" pkg="closed_path_follower" type="path_generator.py" output="screen"/>
	<node name="path_follower" pkg="closed_path_follower" type="path_follower.py" output="screen"/>
</launch>
