<?xml version="1.0" ?>
<launch>
    <rosparam file = "$(find line_follower)/config/controller_params.yaml" command = "load"  />
    <rosparam file = "$(find line_follower)/config/vision_params.yaml" command = "load"  />
    <node name="line_detector" output="screen" pkg="line_follower" type="line_centroid.py" />
    <node name="traffic_detector" pkg="line_follower" type="traffic_light.py" />
    <node name="angular_controller" output="screen" pkg="line_follower" type="controller.py" />
    <node name="line_follower" pkg="line_follower" type="line_follower.py" output="screen"/>
</launch>
